.input {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    background: #EEF2F7;
    padding: 24px 18px 16px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 32px;
    border: none;
}
.input.error {
    border: 1px solid red;
}
.input:disabled {
    pointer-events: none;
}
.input::placeholder {
    color: #9299A2;
}
.input-file{
  width: 592px;
  height: 132px;
  display: none;
}

@media (max-width: 768px) {
    .input {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
    }
}
